#playlist-controls {
	display: none;
}

.item-title {
	font-weight: bold;
	font-style: italic;
}

.subcluster-name {
	display: block;
}

h1 {
	font-size: 14pt;
}

h2 {
	font-size: 12pt;
	font-weight: bold;
}

.small {
	font-size: 75%;
	color: #555;
}

dl.single-line dt {
	float: left;
	margin-right: 0.5em;
}

dl.single-line dd {
	margin-right: 0.5em;
}

dl.single-line-all dd {
	float: left;
}

dl.fixed-width-100 dt {
	width: 100px;
}

ul.rectangle-list {
	list-style: none outside none;
}

dl:before, dl:after, ul.rectangle-list:before, ul.rectangle-list:after {
    content: "";
    display: table;
    line-height: 0;
}

dl:after, ul.rectangle-list:after {
	clear: both;
}

ul.rectangle-list li {
	float: left;
	width: 350px;
	height: 130px;
	position:relative;
	display:block;
	color:#666;
	padding:0.25em 0.5em 0.25em 0.5em;
	border:none;
	letter-spacing:-0.5px;
	border-radius:3px;
	background-color:#f9f9f9;
	-webkit-transition-property: hover;
	-webkit-transition: background-color 0.15s ease-in-out;
	-moz-transition: background-color 0.15s linear 0s; /* firefox 4 */
	 -o-transition-property: background-color; /* opera 10.5 */
	 -o-transition-duration: 0.15s;
}

ul.rectangle-list li a {
	display:block;
	text-decoration:none;
	font-weight:normal;
	color:#000;
	font-size:120%;
	outline:none;
	position:relative;
	z-index:2;
}

ul.rectangle-list li:hover {
	background-color:#eee;
}

ul.rectangle-list li:hover a {
	color:#333;
}

ul.playlist li.sm2_playing a.sm2_link, ul.playlist li.sm2_paused a.sm2_link {
	margin-right: 0;
}

ul.playlist.use-peak li .peak {
	width: 1.4em;
}
ul.playlist li .timing {
	top: 2px;
	right: 3em;
}