.item-title {
	font-weight: bold;
	font-style: italic;
}

.subcluster-name {
	display: block;
}

h1 {
	font-size: 14pt;
}

h2 {
	font-size: 12pt;
	font-weight: bold;
}

h2 small {
	font-size: 75%;
}

.small {
	font-size: 75%;
	color: #555;
}

.small .section-header {
	font-size: 120%;
	font-weight: bold;
}

dl.single-line > dt {
	float: left;
	text-align: right;
	margin-right: 0.5em;
	width: 45px;
}

dl.single-line > dd {
	margin-right: 0.5em;
}

dl.single-line-all > dd {
	float: left;
}

dl:before, dl:after {
    content: "";
    display: table;
    line-height: 0;
}

dl:after {
	clear: both;
}

.center {
	text-align: center;
	
}

.hover-module {
	z-index: 6000;
	width: 300px;
}

/* for sunburst SVG */

path {
	cursor: pointer;
}

body #sm2-container object,
body #sm2-container embed {
 /*
  flashblock handling: hide SWF off-screen by default (until blocked timeout case.)
  include body prefix to ensure override of flashblock.css.
 */

 left:-9999em;
 top:-9999em;
 height: 1px;
 width: 1px;
 display: block;
}