<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Rake'Em Collection Explorer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/media/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/media/page-player.css">
    <link rel="stylesheet" type="text/css" href="/media/integrated.css">
    <link rel="stylesheet" type="text/css" href="/media/bootstrap/css/bootstrap-responsive.css">

    <script type="text/javascript" src="/media/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="/media/ICanHaz.js" ></script>
    <script type="text/javascript" src="/media/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/media/history.Js/scripts/uncompressed/history.adapter.jquery.js"></script>
    <script type="text/javascript" src="/media/history.Js/scripts/uncompressed/history.html4.js"></script>
    <script type="text/javascript" src="/media/history.Js/scripts/uncompressed/history.js"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="/media/d3.layout.cloud.js"></script>
    <script type="text/javascript" src="/media/soundmanager2/script/soundmanager2.js"></script>
    <script type="text/javascript" src="/media/page-player.js"></script>
    <script type="text/javascript" src="/media/integrated.js"></script>

    <script id="titleTemplate" type="text/html">
        <h2>Cluster: {{#ancestors}}<a class="ich-link" href="{{url}}">
        {{name}}</a> -> {{/ancestors}}{{clusterIndex}}</h2>
    </script>

    <script id="clusterDetailsTemplate" type="text/html">
        <div>
            <h2>{{label}} <small>{{size}} tracks</small></h2>
            {{#showNav}}
            <p>
                <a href="{{url}}" class="ich-link btn"><i class="icon-hand-right"></i> Enter cluster</a>
                <span class="input-append">
                    <input id="numRandomTracks" type="text" value="10" style="width: 40px">
                    <button id="enqueueRandomTracks" class="btn">Enqueue tracks</button>
                </span>
            </p>
            {{/showNav}}
            <div id="{{wordcloudElemId}}"></div>
            {{#showNav}}
            <div class="accordion" id="clusterDetailsAccordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#clusterDetailsAccordion" href="#commonWordsCollapse">
                            Common words
                        </a>
                    </div>
                    <div id="commonWordsCollapse" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {{#hist}}
                            <b>{{w}}</b>:{{c}}&nbsp;&nbsp;
                            {{/hist}}
                            {{^hist}}
                            No metadata available for tracks in this cluster
                            {{/hist}}
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#clusterDetailsAccordion" href="#representativeTracksCollapse">
                            Representative tracks
                        </a>
                    </div>
                    <div id="representativeTracksCollapse" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {{#representatives}}
                            {{a}} - {{t}}<br>
                            {{/representatives}}
                            {{^representatives}}
                            No representative track data available for this cluster
                            {{/representatives}}
                        </div>
                    </div>
                </div>
            </div>
            {{/showNav}}
        </div>
    </script>

    <script id="trackDetailsTemplate" type="text/html">
        <div>
            <h2>{{label}}</h2>
            {{#showNav}}
            <p><button class="enqueue-track"><i class="icon-plus-sign"></i> Enqueue</button></p>
            {{/showNav}}
            <dl class="single-line small">
                <dt>Title</dt><dd>{{title}}</dd>
                <dt>Artist</dt><dd>{{artist}}</dd>
                <dt>Album</dt><dd>{{album}}</dd>
                <dt>Track</dt><dd>{{trackNum}}</dd>
                <dt>Genre</dt><dd>{{genre}}</dd>
            </dl>
        </div>
    </script>

    <script id="playlistItemTemplate" type="text/html">
        <li>
            <a href="{{audioRoot}}{{url}}" title="{{tooltipText}}">
                <div class="item-title">{{title}}</div>
                <div>{{artist}}</div>
            </a>
        </li>
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
        </div>
        <div class="row">
            <div class="span8">
                <div id="title"></div>
                <div id="sunburst"></div>
            </div>
            <div class="span4">
                <div id="currentDetails" class="hide"></div>
                <div id="playlistContainer" class="hide">
                    <h2>Playlist</h2>
                    <ul id="playlist" class="playlist"></ul>
                </div>
            </div>
        </div>
    </div>
    <div id="wordcloudTest"></div>
    <div id="loading-modal" class="modal hide fade">
        <div class="modal-body">
            <p class="center">Loading...this might take a minute if it's your first visit</p>
            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
    </div>
    <div id="hoverDetails" class="well hide hover-module"></div>
</body>
</html>